
:root {
  --highlight-primary: #3367d6;
  --highlight-secondary: #4285f4;
  --highlight-hover: #5a95f5;
  --background: #f5f5f5;
  --card-background: #ffffff;
  --text: #363636;
  --text-header: #ffffff;
  --text-title: #303030;
  --text-subtitle: #424242;
  --card-shadow: rgba(0, 0, 0, 0.1);
  --link: #3273dc;
  --link-hover: #363636;
  --background-image: initial;
}

@mixin dark-mode {
  --highlight-primary: #2d3f63;
  --highlight-secondary: #3d5482;
  --highlight-hover: #4a659a;
  --background: #131313;
  --card-background: #2b2b2b;
  --text: #eaeaea;
  --text-header: #ffffff;
  --text-title: #fafafa;
  --text-subtitle: #f5f5f5;
  --card-shadow: rgba(0, 0, 0, 0.4);
  --link: #3273dc;
  --link-hover: #5c7ab4;
  --background-image: initial;
}

@media (prefers-color-scheme: dark) {
  :root {
    @include dark-mode;
  }
}

body .dark-mode {
  @include dark-mode;
}
