/**
 * Typography
 */

html,
body {
  font-family: $body-font;
  font-weight: $body-font-weight;
}

html {
  font-size: $basic-font-size;
}

body {
  color: $text-color;
  font-size: $paragraph;
  line-height: $line-height;

}

h1,
h2,
h3 {
  font-family: $header-font;
  font-weight: 600;
}


html,
button,
input,
select,
textarea {
  color: $text-color;
}

a {
  color: $text-color;
  text-decoration: none;

  &:visited {
    outline: 0;
  }

  &:focus,
  &:active,
  &:hover {
    text-decoration: underline;
    outline: 0;
  }
}

i,
em {
  font-style: italic;
}

b,
strong {
  font-weight: bold;
}

.br {
  display: block;
}
