
.form-actions {
  display: flex;
  justify-content: flex-start;
  margin-top: 2.5rem;

  .o-btn--danger {
    margin-left: auto;
  }
}

.form-wrapper {
  max-width: 800px;
}

.o-input {
  &[type=color] {
    padding: .2rem;
  }
}

.o-field {
  &__label {
    padding-bottom: .25rem;
    font-weight: 400;
  }

  &__message {
    opacity: .8;
  }
}

.field {
  margin-bottom: var(--oruga-field-margin-bottom);
}

.o-ctrl-input {
  .o-icon {
    opacity: .5;
  }
}

.o-tab-item {
  &__content {
    > *:last-child {
      margin-bottom: 0;
    }
  }
}

.o-tabs__content {
  padding-bottom: 2px;
}
