.app-layout {
  min-height: 100vh;
  background: var(--background);
  color: var(--text);
  padding-bottom: 3rem;
}

.app-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #777;
  height: 100vh;
}

.app-empty-page {
  margin-top: 3rem;
  text-align: center;

  h2 {
    margin-bottom: 1rem;
  }

  &__lead {
    opacity: .7;
    font-size: 1.3em;
    margin-bottom: 2.5rem;
  }

  &__sub {
    opacity: .7;
    font-size: .9em;
    margin: 1.5rem 0;
  }
}
